.projects-wrapper {
  &__banner {
    height: 211px;
    background: #ff4d00;
    padding: 54px 0;
    h1 {
      font-size: 70px;
      font-weight: bold;
      color: #f9f9f9;
    }
  }
  &__content-cards {
    p {
      color: #5a5a5a;
      font-size: 30px;
      width: 1000px;
      margin: 97px auto 113px auto;
    }
    .card {
      height: 744px;
      width: 536px;
      background: #f5f5f5 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 65px 65px 65px 65px;
      opacity: 1;
      text-align: left;
      .img-holder {
        width: 536px;
        height: 341px;
        background: lightgray;
        border-radius: 65px 65px 0px 0px;
      }
      h5 {
        font-size: 40px;
        color: #1d1d1d;
        font-weight: bold;
        margin: 34px 0 0 24px;
      }
    }
  }
}
