// ============================================================
// ============== Home background animation ======
// ============================================================
@keyframes backgroundLogo {
  from {
    width: 56px;
    height: 65px;
  }
  to {
    width: 5500px;
    height: 5500px;
    top: -33%;
    left: -100%;
  }
}

.animate-logo {
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 50%;

  animation-name: backgroundLogo;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

// ============================================================
// ============== Hero section ======
// ============================================================

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.3, 0.3);
  }
  100% {
    transform: scale(1, 1);
  }
}

.animate-hero {
  animation-name: zoom-in-zoom-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
