// ==================================================================
// ==========================  Animated button  =====================
// ==================================================================
$primary: #ff4d00;
$secondary: #1a0330;
$ternary: #ffffff;

@mixin animated-btn {
  height: 59px;
  border-radius: 32px;
  opacity: 1;
  background: transparent;
  position: relative;
  transition: all 0.5s;
  width: 124px;
  font-size: 25px;
  font-weight: bold;
}

@mixin animated-btn-primary {
  border: 2px solid $primary;
}
@mixin animated-btn-secondary {
  border: 2px solid $secondary;
}

@mixin animated-btn-ternary {
  border: 2px solid $ternary;
}
@mixin animated-btn-back {
  border: 2px solid $primary;
}

@mixin primary-content {
  color: $primary;
  content: "Contact Us";
}
@mixin secondary-content {
  color: $secondary;
  content: "Read More";
}
@mixin ternary-content {
  color: $ternary;
  content: "Read More";
}
@mixin back-content {
  color: $primary;
  content: "Back";
}

// ==================================================================
// ==========================  Primary =====================
// ==================================================================

.animated-button-primary {
  @include animated-btn;

  @include animated-btn-primary;

  &::after {
    @include primary-content;
    margin-left: 28px;
    position: absolute;
    left: 110px;
    width: 150px;
    transition: all 0.5s;
  }
  &::before {
    color: $primary;
    content: "\2192";
    font-size: 50px;
    text-align: left;
    transition: all 0.5s;
    position: absolute;
    left: 38px;
  }
  &:hover,
  :focus {
    width: 246px;
    transition: all 0.5s;
    &::after {
      left: 50px;
      transition: all 0.5s;
    }
    &::before {
      left: 38px;
    }
  }
}
// ==================================================================
// ==========================  Secondary =====================
// ==================================================================
.animated-button-secondary {
  @include animated-btn;
  @include animated-btn-secondary;
  &::after {
    @include secondary-content;
    margin-left: 28px;
    position: absolute;
    left: 110px;
    width: 150px;
    transition: all 0.5s;
  }
  &::before {
    color: $secondary;
    content: "\2192";
    font-size: 50px;
    text-align: left;
    transition: all 0.5s;
    position: absolute;
    left: 35px;
  }
  &:hover,
  :focus {
    width: 246px;
    transition: all 0.5s;
    &::after {
      left: 50px;
      transition: all 0.5s;
    }
    &::before {
      left: 35px;
    }
  }
}
// ==================================================================
// ==========================  Ternary =====================
// ==================================================================
.animated-button-ternary {
  @include animated-btn;
  @include animated-btn-ternary;
  &::after {
    @include ternary-content;
    margin-left: 28px;
    position: absolute;
    left: 110px;
    width: 150px;
    transition: all 0.5s;
  }
  &::before {
    color: $ternary;
    content: "\2192";
    font-size: 50px;
    text-align: left;
    transition: all 0.5s;
    position: absolute;
    left: 35px;
  }
  &:hover,
  :focus {
    width: 246px;
    transition: all 0.5s;
    &::after {
      left: 50px;
      transition: all 0.5s;
    }
    &::before {
      left: 35px;
    }
  }
}

// ==================================================================
// ==========================  BACK =====================
// ==================================================================
.animated-button-back {
  @include animated-btn;
  @include animated-btn-back;
  &::after {
    @include back-content;
    margin-left: 28px;
    position: absolute;
    right: 110px;
    width: 150px;
    transition: all 0.5s;
  }
  &::before {
    color: $primary;
    content: " \2190";
    font-size: 50px;
    text-align: left;
    transition: all 0.5s;
    position: absolute;
    right: 35px;
  }
  &:hover,
  :focus {
    width: 184px;
    transition: all 0.5s;
    &::after {
      right: 50px;
      transition: all 0.5s;
    }
    &::before {
      right: 35px;
    }
  }
}
// ==================================================================
// ==========================  UTILITIES =====================
// ==================================================================

.contact-content-white {
  &::after {
    content: "Contact Us";
  }
}
